include README.md
include ChangeLog
include LICENSE
include tests/*.py
include logger.conf
include icons/CREDITS.icons
include icons/application_disconected.svg
include icons/application_connected.svg
include icons/play.svg
include icons/stop.svg
include icons/pause.svg
include icons/forward.svg
include icons/backward.svg
